* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url("images/num_bg.jpg");
    background-size: 100% 110%;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    width: 50%;
    height: 75%;
    background: black;
    border-radius: 25px;
    outline: 3px solid rgb(102, 102, 102);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 1px 5px gray;
    max-width: 900px;
    min-width: 450px;
    min-height: 500px;
    max-height: 1200px;
}

#top-bar {
    width: 90%;
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: 2px solid gray;
    margin-right: 3%;
    margin-top: 10px;
    max-width: 50px;
    max-height: 50px;
}

#company {
    margin-left: 3%;
    color: gray;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}

#display {
    width: 90%;
    height: 31%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#num-output {
    width: 90%;
    height: 72%;
    background-color: lightgray;
    border-radius: 10px;
    outline: 3px solid rgb(92, 92, 92);
    box-shadow: 0 0 5px 2px gray;
    max-height: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 50px;
    flex-direction: column;
}

#calculation {
    color: black;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 24px;
    padding: 5px 0 0 5px;
}

#result {
    color: black;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 35px;
}

#buttons {
    width: 85%;
    height: 54%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    margin: 10px 0;
    padding-bottom: 10px;
}

.btn {
    height: calc((72% / 4) - 5px);
    width: calc((86% / 5) - 5px);
    background-color: rgb(143, 143, 143);
    border-radius: 20px;
    display: flex;
    color: rgb(236, 236, 236);
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 3px solid rgb(58, 58, 58);
    box-shadow: 0 0 5px 2px rgb(63, 63, 63);
    font-size: 24px;
}

.btn:hover {
    background-color: rgb(99, 99, 99);
}

.operator {
    font-weight: bold;
    font-size: 28px;
}

.red {
    background-color: rgb(185, 0, 0);
    font-size: 16px;
}

.red:hover {
    background-color: rgb(136, 0, 0);
}

@media (max-width: 899px) {
    #company {
        font-size: 22px;
    }
    #logo {
        height: 35px;
        width: 35px;
    }
    #num-output {
        outline: 5px solid rgb(92, 92, 92);
    }
}

@media (min-width: 900px) {
    #company {
        font-size: 24px;
    }
    #logo {
        height: 40px;
        width: 40px;
    }
    #num-output {
        outline: 5px solid rgb(92, 92, 92);
    }
}

@media (min-width) {
    #company {
        font-size: 32px;
    }
    #logo {
        height: 60px;
        width: 60px;
    }
    #num-output {
        outline: 6px solid rgb(92, 92, 92);
    }
}

@media (min-width: 1100px) {
    #buttons {
        height: 50%;
        margin-bottom: 20px;
        gap: 13px;
    }
    #company {
        font-size: 36px;
    }
    #logo {
        height: 70px;
        width: 70px;
    }
    #num-output {
        outline: 6px solid rgb(92, 92, 92);
    }
}

@media (min-width: 1300px) {
    #company {
        font-size: 40px;
    }
    #logo {
        height: 80px;
        width: 80px;
    }
    #num-output {
        outline: 7px solid rgb(92, 92, 92);
    }
}